body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
  padding: 2rem 8rem;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

.products-wrapper {
  flex: 0.7;
  background-color: bisque;
  min-height: 100%;
  padding: 1rem;
}

.add-product-wrapper {
  flex: 0.3;
  background-color: aqua;
  min-height: 100%;
  padding: 1rem;
}

.product {
  padding: 1rem;
  border: 1px solid #f0f0f0;
  border-radius: 8px;
  margin-bottom: 1rem;
  background-color: #f7fafc;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  position: relative;
}

.product-name {
  font-size: 1.125rem;
  color: #1a202c;
  font-weight: 600;
  margin-top: 0;
}

.product-date {
  text-align: right;
  color: #088145;
}

.actions {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-self: flex-end;
  min-width: 100px;
}

.actions button:last-child {
  margin-left: 8px;
}

.product-form {
  padding: 1rem;
  background-color: #f0f0f0;
  border: 1px solid #1a202c5b;
  border-radius: 0.25rem;
  min-height: 120px;
}

.input-section {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
